

<br>
<br>
<br>
<div class="videos">



     <div class="video1" > <video source [src]="video.videoPath |safe "class="embed-responsive-item"  type="video/mp4" width="500" height="400" controls></video>


     <!-- <iframe width="500" height="300" [src]="video.videoPath |safe "></iframe>
     <label class="h1" > {{video.subjectname}} </label>
     <label class="h2" > {{video.name}} </label>
     <label class="h3" >{{video.teachername}}</label>
-->


     <button type="button" (click)="deleteVideo()" class="btn btn-danger">Delete</button>
    </div>
</div>




