<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
  <br>
  <h2 class="font-weight-bold" class="text-success" >  DashBoard </h2>

  <div class="btn-group-vertical">
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger" routerLink="/app-video-upload"  >video-upload</button>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger"   routerLink="/app-paper-upload">Past paper-upload</button>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger"   routerLink="/app-paper-upload">Model paper-upload</button>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger" routerLink="/app-update-post">post-update</button>
    <br>
    <br>
    <button type="button" class="btn btn-outline-danger" routerLink="/app-create-profile">update-advertisment</button>
  </div>
</div>

</body>
